/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), 
        url('../images/Banner\ muestra.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    width: 100vw;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    background-size: cover; /* Mantener la imagen cubriendo todo el contenedor */
    background-position: center; /* Asegura que la imagen esté centrada */
}

/* Media query para pantallas grandes */
@media (min-width: 1200px) {
    .hero {
        padding: 35vh 20%; /* Aumentar el padding superior en pantallas grandes */
    }

    .hero .hero-title {
        font-size: 4.5em; /* Aumentar el tamaño del título en pantallas grandes */
    }
}

/* Media query para dispositivos pequeños (móviles) */
@media (max-width: 767px) {
    .hero {
        padding: 25vh 5%; /* Aumentar padding superior en pantallas pequeñas para visibilidad */
    }

    .hero .hero-title {
        font-size: 2.5em; /* Reducir tamaño de título en pantallas pequeñas */
    }

    .hero::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        opacity: 0.3;
        z-index: -1;
    }
}

/* Media query para dispositivos medianos (tabletas) */
@media (max-width: 1024px) {
    .hero {
        padding: 20vh 10%; /* Ajustar padding en tabletas */
    }

    .hero .hero-title {
        font-size: 3.5em; /* Ajustar tamaño de título en tabletas */
    }
}

/* Estilo para el título */
.hero .hero-title {
    font-size: 4em; /* Título grande por defecto */
    font-weight: 800;
    letter-spacing: -0.5px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

/* Animación */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.hero .hero-title {
    font-size: 3.5em;
    font-weight: 800;
    letter-spacing: -0.5px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

.hero p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Botones Hero */
.hero-buttons .btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 25px;
    margin: 10px;
    text-decoration: none;
    transition: all 0.4s ease;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.hero-buttons .btn:hover {
    background: #fff;
    color: #007bff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/* Estilos generales del menú */
.main-nav {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

/* Logo siempre visible */
.main-nav .logo img {
    height: 40px;
    width: auto;
}

/* Estilos para el botón de hamburguesa */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1100;
}

.menu-icon {
    width: 30px;
    height: 30px;
    fill: #333;
    transition: all 0.3s ease;
}

/* Estilos para el menú */
.main-nav .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.main-nav .nav-list li {
    margin: 0 15px;
}

.main-nav .nav-list li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.main-nav .nav-list li a:hover {
    color: #ffffff;
    background-color: #000000;
}

/* Estilos del menú en dispositivos móviles */
@media (max-width: 768px) {
    /* Menú */
    .main-nav .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 45px; /* Ajusta según la altura de la barra de navegación */
        left: 0;
        transform: translateY(-100%); /* Inicialmente oculto */
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 0;
    }

    /* Mostrar el menú */
    .main-nav .nav-list.active {
        transform: translateY(0); /* Muestra el menú */
        opacity: 1;
    }

    /* Botón de hamburguesa */
    .menu-toggle {
        display: block;
        position: absolute;
        right: 20px; /* Alineado al lado derecho */
        z-index: 1100;
    }

    .menu-icon.open {
        fill: transparent;
    }

    .menu-icon.open path {
        stroke: #333;
        stroke-width: 3px;
    }

    /* Espaciado y tamaño en el menú móvil */
    .main-nav .nav-list li {
        margin: 10px 0;
    }

    .main-nav .nav-list li a {
        font-size: 1.2em;
        padding: 15px;
    }

    /* Ajuste de logo en móviles */
    .main-nav .logo img {
        height: 30px;
    }
}

/* Medidas de barra de navegación en pantallas grandes */
.main-nav {
    padding: 10px 20px;
}




/* About Section */
.about {
    padding: 50px 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.services {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin-top: 30px;
    position: relative;
    overflow: hidden; /* Evita el desbordamiento de contenido */
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    flex-shrink: 0; /* Evita que las tarjetas se encojan */
}

/* Tarjetas */
.service-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto;
    height: 400px; /* Altura fija para las tarjetas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* Hover de las tarjetas */
.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Imagen */
.service-img {
    width: 100%;
    height: 200px; /* Altura fija para la imagen */
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}

/* Título */
.service-card h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
    text-align: left;
    overflow-wrap: break-word; /* Evitar que las palabras largas se salgan */
    word-wrap: break-word;
}

/* Descripción */
.service-card p {
    font-size: 1em;
    color: #777;
    line-height: 1.5;
    flex-grow: 1; /* Permitir que el texto ocupe el espacio disponible */
    margin-bottom: 15px;
}
.swiper-button-next, .swiper-button-prev {
    color: #333;
    border-radius: 50%;
    padding: 10px;
    z-index: 10;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Ajusta el tamaño del icono */
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next i, .swiper-button-prev i {
    color: #333;
    font-size: 18px;
}

.swiper-button-next:hover i, .swiper-button-prev:hover i {
    color: #007BFF; /* Color al pasar el mouse */
}


/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .service-card {
        max-width: 100%;
        height: 350px; /* Ajustar altura en pantallas más pequeñas */
    }

    .service-card h3 {
        font-size: 1.3em; /* Ajuste del tamaño del título */
    }

    .service-card p {
        font-size: 0.95em; /* Ajuste del tamaño del texto */
    }

    /* Ajustes para que el carrousel no muestre demasiadas tarjetas */
    .swiper-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 480px) {
    .swiper-container {
        padding-left: 0;
        padding-right: 0;
    }

    .swiper-slide {
        width: 100%;  /* Asegura que las tarjetas ocupen todo el espacio disponible */
    }

    .service-card {
        height: auto;  /* Ajusta la altura para que no se estire innecesariamente */
        max-width: 100%; /* Asegura que las tarjetas no se desborden */
    }

    .swiper-button-next, .swiper-button-prev {
        width: 35px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .service-card h3 {
        font-size: 1.2em; /* Ajuste del tamaño del título */
    }

    .service-card p {
        font-size: 0.9em; /* Ajuste del tamaño del texto */
    }
}






/* Contact Section */
.contact {
    padding: 50px 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.contact button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 25px;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.contact button:hover {
    background-color: #0056b3;
}

/* WhatsApp Button */
.contact .whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 1000;
    border-radius: 50%;
}

.contact .whatsapp:hover {
    background-color: #1da955;
}

.contact .whatsapp img {
    width: 30px;
    height: 30px;
}

/* Testimonials Section */
.testimonials {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

/* Grid de testimonios */
.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Tarjeta de testimonio */
.testimonial-card {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column; /* Organiza los hijos en columna */
    justify-content: space-between; /* Distribuye uniformemente */
    height: 250px; /* Fija altura uniforme para todas las tarjetas */
    border-radius: 5px;
}

/* Efecto hover para las tarjetas */
.testimonial-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo de las comillas (Icono en la esquina) */
.quote-icon {
    position: absolute;
    top: -33px;
    left: -25px;
    /* background-color: #fff; */
    padding: 10px;
    border-radius: 50%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}


/* Estilo del contenido principal */
.testimonial-card p {
    margin-bottom: auto; /* Empuja el texto hacia arriba */
}

/* Estilo del nombre */
.testimonial-card strong {
    margin: 10px 0; /* Espacio entre el texto y las estrellas */
}

/* Estilo de la sección de estrellas */
.rating {
    justify-content: center;
    align-items: center; /* Centra verticalmente */
}

/* Estilo de las estrellas */
.rating svg {
    fill: #ffcc00;
    margin: 0 2px;
}


footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    flex: 1 1 calc(33% - 20px);
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-contact,
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-contact li,
.footer-section ul li {
    margin: 10px 0;
}

.footer-contact a,
.footer-section ul a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-contact a:hover,
.footer-section ul a:hover {
    color: #007bff;
}

.footer-social a {
    margin-right: 10px;
}

.footer-social svg {
    width: 24px;
    height: 24px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 2.5em;
    }

    .hero-buttons .btn {
        font-size: 0.9em;
        padding: 8px 20px;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .contact input,
    .contact textarea {
        width: 100%;
    }
    footer {
        font-size: 0.85em;
    }
    .footer-info h3 {
        font-size: 1.2em;
    }
    .footer-contact li {
        margin: 5px 0;
    }
}
